.EquipmentPage {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #3899c0;
    color: wheat;
}

.Title{
    margin: 0;
    padding: 2vh;
}

.EquipmentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}