.PageContainer {
    position: relative;
    min-height: 100vh;
}

.ContentWrap {
    height: 77vh;
}

.Header {
    width: 100%;
    height: 10vh;
}

.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13vh;
}